*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #C8D3D5;
    background-image: url("Background.jpg");
    background-size: cover;
}
h2{
    text-align: center;
}
.container{
    background-color: rgba(140, 154, 158, 0.8);
    box-shadow: 10px 10px 30px black;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}
form{
    margin: 2rem 0 1rem 0;
}
form select,input,button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 2rem;
    padding-left: 0.5rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.dropdown i{
    font-size: 1.2rem;
    margin-top: 1rem;
}
.selectContainer img{
    max-width: 2rem;
}
.selectContainer{
    display: flex;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
    justify-content: center;
    align-items: center;
}
.selectContainer select{
    background: none;
    font-weight: bold;
    font-size: 0.8rem;
    width: auto;
}
.msg{
    margin: 1.5rem 0 1.5rem 0;
}
form button{
    height: 3rem;
    background-color: #1E555C;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}